html {
    margin: 10px;
}
.carousel__wrapper {
    height: 300px;
}

.carousel__container {
    position: absolute;
    display: none;
    width: 95%;
    height: 300px;
    z-index: 1;
}

.carousel__container.active {
    display: inline-block;
}

.carousel__photo {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.carousel__photo1 {
    background-image: url('https://placekitten.com/300/350');
}

.carousel__button {
    position: absolute;
    width: 100px;
    height: 300px;
    box-sizing: content-box;
    z-index: 10001;
    display: inline-block;
    background-color: rgba(15, 6, 6, 0.0);
}

.carousel__button:hover {
    background-color: rgba(15,6,6,0.2);
}

.carousel__button--left {
    left: 9px;
}

.carousel__button--right {
    right: 9px;
}

.carousel__text {
    position:absolute;
    top: 40%;
    font-size: 42px;
    margin: 0px;
    opacity: 0.3;
}

.carousel__text--left {
    left: 25%;
}

.carousel__text--right {
    right: 25%
}

.section__wrapper {
    position: relative;
    box-shadow: 0px 5px 5px #000;
    z-index: 10001;
}

.section__title {
    margin-top: 0px;
}

.section__content {
    display: flex;
    margin-bottom: 0px;
    flex-direction: column;
    padding-bottom: 19px;
    justify-content: space-around;
}

.text__wrapper--vertical__centered {
    display: flex;
}

.section__list {
    margin-top: 0px;
    align-self: center;
}

.section__image__container {
    text-align: center;
}

.section__image {
    width: 200px;
}

.image1 {
    margin-bottom: 10px;
}

.section__text {
    margin: 0px 10px;
}

.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    z-index: 1;
}

.parallax1 {
    background-image: url('https://placekitten.com/700/600');
    min-height: 500px;
}

.parallax2 {
    background-image: url('https://placekitten.com/700/600');
    min-height: 500px;
}

.input__wrapper {
    margin-bottom: 5px;
}

.form__label {
    display: inline-block;
    width: 98px;
}

.button__wrapper {
    text-align: center;
}

@media(min-width: 568px){
    .section__wrapper {
        box-shadow: 0px 5px 5px #000;
    }

    .section__content {
        flex-direction: row;
    }

    .parallax {
        background-attachment: fixed;
    }

    .input__wrapper {
        text-align: center;
    }

    .form__input {
        width: 220px;
    }
}