html {
    margin: 10px;
}

.parallax {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
}

.parallax1 {
    background-image: url('https://placekitten.com/700/600');
    min-height: 500px;
}

.parallax2 {
    background-image: url('https://placekitten.com/700/600');
    min-height: 500px;
}

.input__wrapper {
    margin-bottom: 5px;
}

.form__label {
    display: inline-block;
    width: 98px;
}

.button__wrapper {
    text-align: center;
}

@media(min-width: 568px){
    .parallax {
        background-attachment: fixed;
    }

    .input__wrapper {
        text-align: center;
    }

    .form__input {
        width: 220px;
    }
}